@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Header_______________________ */
/* 가로로 100% Full 배경 또는 패턴을 넣고, 자식이 2개 이상인 경우는 2개의 부모를 만든다. */
header{  /* 부모1:가로 100% Full */
  height: 100px;
  background-color: #617fa0;
}
#header-inner{  /* 부모2:가로사이즈,가운데정렬 */
  /* border: 1px solid red; */
  width: 1300px;
  margin: auto;
}

/* UtilMenu */
.util-menu{
  /* border: 1px solid #000; */
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.util-menu a{
  font-size: 13px;
  color: #fff;
  text-transform: capitalize;
  /* border-left: 1px solid rgba(255,255,255,0.3); */
  padding-left: 10px;
}
/* .util-menu a:first-child{border-left: none;} */
.util-menu a:not(:first-child){border-left: 1px solid rgba(255,255,255,0.3);}

/* Logo & Navigation  */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo img{width: 220px;}
nav ul{
  display: flex;
  column-gap: 30px;
}
nav ul li a{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  transition: 0.35s;
}

/* .active를 제외한 나머지 메뉴에만 호버효과 적용 */
nav ul li a:hover:not(.active){ 
  color: #a2c2e2;
  transform: translateY(-5px);
  /* transform속성은 inline 요소에는 적용되지않음 */
}
nav ul li a.active{ /* 현재위치 활성화 */
  color: #a2c2e2;
  transform: translateY(-5px);
}


/* Section_______________________ */
section{
  font-family: 'Montserrat', sans-serif;
  color: #666;
  width: 1300px;
  margin: 100px auto;
  display: flex;
  column-gap: 50px;
}

section h2{
  font-family: 'Raleway', sans-serif; 
  font-size: 48px;
  text-transform: capitalize;
  color: #333;
  border-bottom: 5px solid yellowgreen;
  padding-bottom: 5px;
  width: max-content;
}

/* 제목설정 */
section h3{
  font-size: 22px;
  font-weight: 500;
  color: #444;
  text-transform: capitalize;
  margin: 10px 0 50px;
}
section h4{
  font-size: 30px;
  text-transform: uppercase;
  color: #444;
  font-weight: 600;
  margin-bottom: 20px;
}
section h4 em{
  display: block;
  font-style: normal;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  color: #555;
}
section p{
  line-height: 26px;
  margin-top: 15px;
}

.section-left img{width: 100%;}
.section-left .btn{
  display: block;
  width: max-content;
  background-color: gold;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 50px;
  color: #000;
  text-transform: capitalize;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: 0.35s;
}
.section-left a.btn:hover{box-shadow: 5px 5px 10px rgba(0,0,0,0.35);}

.section-right img{width: 100px;}
.skill-items{
  display: flex;
  column-gap: 20px;
}
.skill-item{margin-bottom: 50px;}


/* Footer_______________________ */
footer{
  background-color: #1b2631;
  text-align: center;
  padding: 30px 0;
}
footer address{
  font-style: normal;
  text-transform: capitalize;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}
footer address strong{color: #a2c2e2;}